/* date created 7-11-18*/

/* Using some basic CSS to modify the text in terms of:
color, font size, centering it, and making it the full page of a
mobile phone. */

#flashMessage {
color: white;
text-align: center;
background-color: purple;
font-size: 20px;
  }

h1 {
font-size: 32px;
}

h2 {
  padding-top: 64px;
}

/* Using 100vh for full page viewing on mobile*/
section {
/* height: 100vh; */
text-align: center;
color: blue;
/* font-size: 65px; */
}

/* navigation */

#navbar ul {
  list-style: none;
}

#navbar li {
  width: 25%;
  float: left;
}


footer {
text-align: center;
font-size: 20px;
color: blue;
padding-top: 40px;
}


.helping-image {
  max-width: 35rem;
  margin: 0 auto;
  display: block;

}

.helping-image2 {
  max-width: 35rem;
  margin: 0 auto;
  display: block;
}

/* Modifying image for smartphones */

@media only screen and (max-width: 500px) {

.helping-image {
  max-width: 12rem;
}

.helping-image2 {
  max-width: 12rem;
}
}


/* Everything above is desktop, everything below is roughly ipad or smaller - 980px */

@media (max-width: 780px) {


p {
visibility: hidden;

}

  h2 {

  font-size: 24px;

  }



  #navbar li {
    width: 100%;
    float: none;
  }

}
